.common_page {
    position: relative;
    display: block;
    width: 100%;
}

/* begin :: side */

.menu {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    z-index: 99;
}

.Nav {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    height: 100%;
}

.Nav>li {
    position: relative;
    display: block;
    text-align: right;
}

.Nav>li>a {
    position: relative;
    display: inline-block;

    text-align: left;

    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 8px;
    color: #fff;

    width: 100px;
}

.menu_close {
    position: absolute;
    top: 66px;
    right: 0;
    display: block;

    width: 40px;
    height: 40px;

    border: 1px solid #fff;
    background: #333;
}

/* end :: side */




/* begin :: Memo */

.memo {
    position: relative;
    display: block;

    margin: 16px;
}

.memo_btn {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}

.memo_btn>button {
    position: relative;
    display: block;
    color: #fff;

    padding: 16px;
    border: 1px solid #fff;
    background: transparent;

    width: 200px;
    height: 48px;
    text-align: center;
}

.memo_text {
    position: relative;
    display: block;

    border: 1px solid #fff;
    border-radius: 8px;

    margin-bottom: 24px;
}

.memo_text {
    position: relative;
    display: block;
}

.memo_box {
    position: relative;
    display: block;
    padding: 16px;
}

.memo_box_annotaion {
    padding-top: 0;
}

.content_memo_btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 12px;
}

.content_memo_btn>li {
    position: relative;
    display: block;
    margin-right: 8px;
}

.content_memo_btn>li>button {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.main_memo {
    position: relative;
    display: block;

    color: #fff;
    line-height: 1.5;
    border: 1px solid #fff;
}

.sub_memo {
    position: relative;
    display: block;
    color: #fff;
    line-height: 1.5;
    border: 1px solid #fff;
}

.memo_input {
    position: relative;
    display: block;

    margin-bottom: 24px;
}

.memo_input>textarea {
    position: relative;
    display: block;

    background: #fff;

    width: 100%;
    height: 200px;
    resize: none;

    padding: 12px;

    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;

    border-radius: 8px;
}







/* 주석 처리 관련 */

.Annotation {
    position: relative;
    display: block;
}

.Annotation>textarea {
    position: relative;
    display: block;

    background: #fff;

    width: 100%;
    height: 100px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    padding: 12px;

    border-radius: 8px;
    resize: none;
}

.memo_annotation {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 16px;
}

.memo_annotation>button {
    padding: 12px;
    border : 1px solid #fff;
    color: #fff;
}

.Annotation_content {
    position: relative;
    display: block;
}

.memo_box_annotaion {
    position: relative;
    display: block;
}




/* Write */

.WriteDiv {
    position: relative;
    display: block;
}

.write {
    position: relative;
    display: block;
}

.write_list {
    position: relative;
    display: block;

    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 16px;
    margin-bottom: 16px;
}

.write_list>span {
    position: relative;
    display: block;

    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    padding-bottom : 16px;
    margin-bottom: 16px;
    border-bottom : 1px solid rgba(255, 255, 255, 0.4);
}

.write_list>strong {
    position: relative;
    display: block;

    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;

    padding-bottom : 16px;
    margin-bottom: 16px;
    border-bottom : 1px solid rgba(255, 255, 255, 0.4);
}

.write_list>p {
    position: relative;
    display: block;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;

    display:-webkit-box; 
    word-wrap:break-word; 
    -webkit-line-clamp:3; 
    -webkit-box-orient:vertical; 
    overflow:hidden; 
    text-overflow:ellipsis;

    height: 74px;

    text-align: justify;
}

/* main memo textarea */

.Main_memo_textarea {
    position: relative;
    display: block;
}

.Main_memo_textarea>textarea {
    width: 100%;
    padding: 12px;
    border : 1px solid rgba(255, 255, 255, 0.4);
    color: #333;
    resize: none;
    margin-bottom: 16px;
}

.main_textarea_correct {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
}

.main_textarea_correct>li {
    position: relative;
    display: block;
    margin-left: 10px;
}

.main_textarea_correct>li>button {
    position: relative;
    display: block;

    padding: 8px;
    border : 1px solid #fff;
    background-color: transparent;
    color: #fff;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

/* textarea scroll custom */

/* end :: Memo */

.View_page {
    color: #fff;
}